headerbar {
  background-image: none;
  background-color: @theme_bg_color;
}

headerbar.flat {
  border: none;
}

headerbar.flat:backdrop {
  background-image: none;
  background-color: @theme_base_color;
}

actionbar.flat box {
  background-image: none;
  border: none;
  background-color: @theme_bg_color;
}

actionbar.flat:backdrop box {
  background-image: none;
  background-color: @theme_base_color;
}

box.flat {
  background-image: none;
  border: none;
  background-color: @theme_bg_color;
}

box.flat:backdrop {
  background-image: none;
  background-color: @theme_base_color;
}

searchbar box {
  background-image: none;
  background-color: alpha(@theme_fg_color, 0.1);
}

.circular,
.circular button,
.image-button {
  border-radius: 8px;
  background: alpha(@theme_fg_color, 0.1);
  border: none;
  box-shadow: none;
  transition: 100ms ease-in-out;
}

.circular:hover,
.toggle:checked,
.image-button:hover {
	background: alpha(@theme_fg_color, 0.2);
}

.circular:active,
.toggle:active,
.image-button:active {
	background: alpha(@theme_fg_color, 0.05);
  box-shadow: inset 0 0 3px 0 alpha(@theme_fg_color, 0.5);
}

.toggle-button > button:hover {
  background: alpha(@theme_fg_color, 0.2);
}

.toggle-button > button:active {
  background: alpha(@theme_fg_color, 0.05);
  box-shadow: inset 0 0 3px 0 alpha(@theme_fg_color, 0.5);
}

.color:not(.marks-after) {
  border-radius: 8px;
  min-width: 48px;
  min-height: 24px;
  background: alpha(@theme_fg_color, 0.1);
  box-shadow: none;
}

.color:not(.marks-after) * {
  min-width: 24px;
  min-height: 16px;
  border-radius: 4px;
  border: none;
  box-shadow: none;
}

.color:not(.marks-after):hover {
  background: alpha(@theme_fg_color, 0.2);
}

.color:not(.marks-after):active {
	background: alpha(@theme_fg_color, 0.05);
  box-shadow: inset 0 0 3px 0 alpha(@theme_fg_color, 0.5);
}

.spinpill {
  border-radius: 8px;
  min-width: 48px;
  min-height: 16px;
  box-shadow: none;
}

.spinpill text {
  margin-left: 6px;
}

.spinpill button {
  box-shadow: none;
  background: none;
  border-radius: 8px;
}

.spinpill button:hover {
  background: alpha(@theme_fg_color, 0.15);
}

.spinpill button:active {
	background: alpha(@theme_fg_color, 0.2);
}

.rotated image {
  -gtk-icon-transform: rotate(180deg);
}

.text-button,
.activatable {
    background: alpha(@theme_fg_color, 0.1);
    border: none;
    box-shadow: none;
    transition: 100ms ease-in-out;
}

.text-button:hover,
.activatable:hover {
  background: alpha(@theme_fg_color, 0.2);
}

.text-button:active,
.activatable:hover {
  background: alpha(@theme_fg_color, 0.05);
  box-shadow: inset 0 0 3px 0 alpha(@theme_fg_color, 0.5);
}

.text-button.suggested-action {
    background: mix(#1c71d8, alpha(@theme_bg_color, 0.2), 0.8);
    color: @theme_fg_color;
    border: 1px solid transparent;
    box-shadow: none;
}

.text-button.suggested-action:disabled {
    color: mix(#1c71d8, alpha(@theme_bg_color, 0.2), 0.5);
    background: none;
    border: 1px solid mix(#1c71d8, alpha(@theme_bg_color, 0.2), 0.5);
}

.text-button.suggested-action:hover {
    background: mix(#1c71d8, alpha(@theme_bg_color, 0.2), 0.7);
}

.text-button.suggested-action:active,
.text-button.suggested-action:active:checked {
    background: mix(#1c71d8, alpha(@theme_bg_color, 0.05), 0.9);
    box-shadow: inset 0 0 3px 0 alpha(@theme_fg_color, 0.5);
}

.text-button.destructive-action {
    background: mix(#e01b24, alpha(@theme_bg_color, 0.2), 0.8);
    color: @theme_fg_color;
    border: 1px solid transparent;
}

.text-button.destructive-action:hover {
    background: mix(#e01b24, alpha(@theme_bg_color, 0.2), 0.7);
}

.text-button.destructive-action:active,
.text-button.destructive-action:active:checked {
    background: mix(#e01b24, alpha(@theme_bg_color, 0.05), 0.9);
    box-shadow: inset 0 0 3px 0 alpha(@theme_fg_color, 0.5);
}
