headerbar {
  background-image: none;
  background-color: @theme_bg_color;
}

headerbar.flat {
  border: none;
}

actionbar.flat box {
  background-image: none;
  border: none;
  background-color: @theme_bg_color;
}

searchbar box {
  background-image: none;
  background-color: alpha(@theme_fg_color, 0.1);
}

.close {
  min-height: 24px;
  min-width: 24px;
  padding: 0;
  background: alpha(@theme_fg_color, 0.1);
}

.close:hover {
  background: alpha(@theme_fg_color, 0.2);
}

.close:active {
  background: alpha(@theme_fg_color, 0.3);
}

.circular,
.circular button,
.image-button {
  border-radius: 9999px;
  min-width: 32px;
  min-height: 16px;
  padding: 0;
  background-image: none;
  border: none;
  box-shadow: none;
}

.circular:hover,
.circular.toggle:hover,
.image-button:hover {
	background: alpha(@theme_fg_color, 0.1);
}

.circular:active,
.circular.toggle:checked,
.image-button:active {
	background: alpha(@theme_fg_color, 0.15);
}

.color {
  border-radius: 9999px;
  min-width: 48px;
  min-height: 24px;
  background: alpha(@theme_fg_color, 0.1);
  border: none;
  box-shadow: none;
}

.color * {
  min-width: 24px;
  min-height: 16px;
  border-radius: 16px;
  border: none;
  box-shadow: none;
}

.color:hover {
  background: alpha(@theme_fg_color, 0.15);
}

.color:active {
	background: alpha(@theme_fg_color, 0.2);
}

.spinpill {
  border-radius: 9999px;
  min-width: 48px;
  min-height: 16px;
  background: alpha(@theme_fg_color, 0.1);
  box-shadow: none;
  border: none;
}

.spinpill text {
  margin-left: 6px;
}

.spinpill button {
  border: none;
  box-shadow: none;
  border-radius: 9999px;
}

.spinpill button:hover {
  background: alpha(@theme_fg_color, 0.15);
}

.spinpill button:active {
	background: alpha(@theme_fg_color, 0.2);
}

.rotated image {
  -gtk-icon-transform: rotate(180deg);
}
