@define-color colorAccent #C1C6CB;
@define-color colorPrimary #FAFAFA;
@define-color textColorPrimary #333;

.dm-window {
    background: @colorPrimary;
}

.dm-toolbar {
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
    border-bottom: 1px solid alpha (#000, 0.25);
}

.dm-actionbar {
    background: @colorPrimary;
    color: @textColorPrimary;
    box-shadow: 0 1px transparent inset;
    padding: 8px;
    border-top: 1px solid alpha (#000, 0);
}

.dm-actionbar button:hover {
    background: shade (@colorPrimary, 0.9);
    border-radius: 8px;
}

.dm-actionbar button:active {
    background: @colorAccent;
}

.dm-grid {
    background: @colorPrimary;
}