@define-color accent_color #008c73;
@define-color accent_bg_color #008c73;
@define-color accent_fg #004e3f;
@define-color window_bg_color #ecf2f0;
@define-color view_bg_color #f8fefc;
@define-color headerbar_bg_color #ecf2f0;
@define-color popover_bg_color #f8fefc;
@define-color popover_fg_color #181d1b;
@define-color window_fg_color #181d1b;
@define-color view_fg_color #181d1b;
@define-color headerbar_fg_color #181d1b;

.rotated image {
  transform: rotate(90deg);
}

.solid-csd {
  box-shadow: none;
  outline: 1px solid @borders;
}

.dm-bar,
.dm-abar box {
  background: @window_bg_color;
  box-shadow: none;
}

.dm-view {
  background: @view_bg_color;
  border-radius: 12px;
  margin: 0 6px 6px;
}

.dm-list .boxed-list {
  background: @view_bg_color;
  border-radius: 12px;
  box-shadow: none;
}

.dm-list .boxed-list entry {
  background: none;
  border: 1px solid @borders;
  box-shadow: none;
}

.list-action-button .toggle {
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 1px 3px 0 alpha(black, 0.3),
              0 4px 8px 3px alpha(black, 0.15);
}
.list-action-button .toggle:hover {
  box-shadow: 0 2px 3px 0 alpha(black, 0.3),
              0 6px 10px 4px alpha(black, 0.15);
}
.list-action-button .toggle:active {
  box-shadow: 0 1px 3px 0 alpha(black, 0.3),
              0 4px 8px 3px alpha(black, 0.15);
}
.list-action-button.accent-button .toggle {
  background: @accent_bg_color;
  color: @accent_fg_color;
}
.list-action-button.accent-button .toggle:hover {
  background: shade(@accent_bg_color, 1.024);
}
.list-action-button.accent-button .toggle:active {
  background: shade(@accent_bg_color, 0.95);
}
