@define-color accent_color #00c09e;
@define-color accent_bg_color #00a588;
@define-color accent_fg #f0fffa;
@define-color window_bg_color #fff;
@define-color headerbar_bg_color #fff;

.rotated {
  transform: rotate(90deg);
}

.main-box {
  background: linear-gradient(135deg, @window_bg_color, mix(@window_bg_color, @accent_bg_color, 0.12));
}

.main-box headerbar {
  background: none;
  box-shadow: none;
}

.solid-csd {
  box-shadow: none;
  outline: 1px solid @borders;
}

.dm-bar,
.dm-bar box {
  background: none;
  box-shadow: none;
}

.dm-list .boxed-list {
  border-radius: 12px;
  box-shadow: none;
}
